body{
    background-color: #EEF2E6;
}
.card{
    text-align: center;
}
input{
    text-align: center;
}
.btn:hover{
    color:white;
}
.form-control:focus {
    border-color: #ffc107;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 187, 0, 0.6);
  }